#d1 {
    width: 100%;
    height: 77px;
    background-color: #FFFFFF;
    padding-left: 80%;
    padding-right: 2%;
    padding-top: 5px;
}

#d2 {
    width: 100%;
    height: 220px;
    background-color: #FFFFFF;
}

#d3 {
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    margin-top: 1px;
}

.p1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    width: 100%;
    height: 50px;
}

.t1 {
    width: 18%;
}

.t1 td {
    width: 50%;
    border-radius: 50%;
    background-color: #4E6EF2;
}

.t1 td:hover {
    filter: alpha(opacity=60);
    opacity: 0.8;
    background-color: #4867e4;
}

input[type=text] {
    width: 41%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input[type=text]:hover {
    background-color: rgb(252, 252, 252);
}